@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Hanken Grotesk", sans-serif;
  background-color: hsl(221, 100%, 96%);
}
main {
  background-color: #fff;
}
.result {
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  text-align: center;
  color: hsl(241, 100%, 89%);
  padding: 1.5rem 2.5rem 2rem;
  border-radius: 0rem 0rem 2rem 2rem;
}
.result h1 {
  font-size: 1.2rem;
}
.whiteText {
  color: #fff;
}
.resultScore {
  width: 9rem;
  height: 9rem;
  margin: 1.5rem auto;
  font-weight: 700;
  border-radius: 4.5rem;
  background-image: linear-gradient(
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
}
.resultScore p span {
  font-size: 3.8rem;
  display: block;
}
.result p {
  margin: 0.5rem auto;
}
.summary {
  padding: 1.4rem 1.8rem 1.8rem;
}
.summary h1 {
  color: hsl(224, 30%, 27%);
  font-size: 1.2rem;
  font-weight: 800;
}
ul li {
  list-style: none;
  margin: 1.2rem 0;
  padding: 1rem;
  font-weight: 500;
  border-radius: 10px;
}
li img {
  margin: 0px 10px 1px 0px;
  vertical-align: middle;
}
li p {
  display: inline-block;
}
p.score {
  color: hsl(240, 8%, 60%);
  font-weight: 700;
  text-align: right;
  width: 25%;
}
p.scoreCato {
  width: 65%;
}
p.score span {
  color: hsl(224, 30%, 27%);
}
li:first-child {
  background-color: hsla(0, 100%, 67%, 0.04);
  color: hsl(0, 100%, 67%);
}
li:nth-child(2) {
  background-color: hsla(39, 100%, 56%, 0.05);
  color: hsl(39, 100%, 56%);
}
li:nth-child(3) {
  background-color: hsla(166, 100%, 37%, 0.04);
  color: hsl(166, 100%, 37%);
}
li:last-child {
  background-color: hsla(234, 85%, 45%, 0.03);
  color: hsl(234, 85%, 45%);
}
button {
  width: 100%;
  background-color: hsl(224, 30%, 27%);
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 1rem 0rem;
  border: none;
  border-radius: 2rem;
}
@media (hover: hover) {
  button:hover {
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  }
}
@media (hover: none) {
  button:active {
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  }
}
.attribution {
  font-size: 0.8rem;
  text-align: center;
  color: hsl(224, 30%, 27%);
}
a {
  color: hsl(224, 30%, 27%);
}
@media only screen and (min-width: 800px) {
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main {
    min-width: 650px;
    display: flex;
    flex-direction: row;
    border-radius: 2rem;
    overflow: hidden;
  }
  section {
    max-width: 325px;
  }
  .result {
    border-radius: 2rem;
    padding: 2.5rem 2rem 2rem;
  }
  img {
    width: 18px;
    height: inherit;
  }
  .summary {
    width: 100%;
    padding: 2rem;
  }
  li {
    font-size: 0.9rem;
    font-weight: 700;
  }
  .attribution {
    margin: 1rem;
  }
  .result h2 {
    font-size: 2rem;
  }
  .result p {
    /* font-size: 1.1rem; */
    width: 90%;
  }
  .resultScore p span {
    font-size: 4.5rem;
  }
  .resultScore{
    width: 11rem;
    height: 11rem;
    border-radius: 5.5rem;
  }
}
